@import "tailwindcss";

@theme {
  --text: #F8FAFC;
  --body-bg: #0C1222;
  --button-default: #1E293B;
  
  --gradient: 180deg,
    rgba(14, 165, 233, 0.1) 0%,
    rgba(14, 165, 233, 0.05) 100%;

  --gradient-hover: 180deg,
    rgba(14, 165, 233, 0.2) 0%,
    rgba(14, 165, 233, 0.1) 100%;

  --shadow: 0px 11px 7px 0px rgba(0, 0, 0, 0.01),
    0px 7px 7px 0px rgba(0, 0, 0, 0.04),
    0px 4px 6px 0px rgba(0, 0, 0, 0.10),
    0px 2px 4px 0px rgba(0, 0, 0, 0.26),
    0px 0px 2px 0px rgba(0, 0, 0, 0.29),
    0px 2px 3px 0px rgb(255, 255, 255, 0.06) inset;

  --font-sans: 'Rubik', sans-serif;
}

/* Estilo global do body */
@layer base {
  body {
    background-color: var(--body-bg);
    color: var(--text);
    font-family: var(--font-sans);
  }
}